!!! 5
%html
  %head
    %meta{charset: "utf-8"}
    %title= "REST Client #{@title || ''}"
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    %link{ href: "/css/normalize.css", media: "screen", rel: "stylesheet" }
    %link{ href: "/css/foundation.min.css", media: "screen", rel: "stylesheet" }
    %link{ href: "/css/custom.css", media: "screen", rel: "stylesheet" }
    %script{type: "text/javascript", src: "/js/vendor/modernizr.js"}
  %body

    - unless defined? @page == 'login'
      %div.contain-to-grid.sticky
        %nav.top-bar.sticky{data: {topbar: '', options: 'sticky_on: large'}, :role => "navigation"}
          %ul.title-area
            %li.name
            / Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone
            %li.toggle-topbar.menu-icon
              %a{:href => ""}
                %span=""
          %section.top-bar-section
            %ul.left
              %li
                %a{href: '/'} Home
              %li.divider

            / Right Nav Section
            %ul.right
              %li.divider
              %li.has-form
                %form
                  %div.row.collapse
                    %div.small-3.medium-3.large-3.columns
                      %select{id: "request_list", data: {bind: "options: storedNames, value: selected_request"}}
                    %div.small-2.medium-2.large-2.columns
                      %a.tiny.button{data: {bind: 'click: load_request, attr: {disabled: can_load_request() === false}'}} Load
                    %div.small-2.medium-2.large-2.columns
                      %a.tiny.alert.button{data: {bind: ''}} -
                    %div.small-3.medium-3.large-3.columns
                      %input{id: "request_name", type: "text", placeholder:"some name",
                             data: {bind: "value: request_name"}}
                    %div.small-2.medium-2.large-2.columns
                      %a.tiny.button{data: {bind: 'click: save_request, attr: {disabled: can_save_request() === false}'}} Save


    %header.page
      %div.row
        %div.large-12.columns
          %h1= "REST Client #{@title || ''}"
      %div#messages.row.hide
        %div{id: 'alert_box', data: {alert: ''}, class: "alert-box" }
          %strong#message_title
          %span#message_content
          %a.close="&times;"

    #content= yield

    %footer.text-center
      Copyright &copy; 2014 LINESIP under
      %a{href: "http://opensource.org/licenses/MIT"}="MIT License"

    %script{src: "/js/vendor/jquery.js"}
    %script{src: "/js/foundation.min.js"}
    %script{src: "/js/foundation/foundation.alert.js"}
    %script{src: "/js/vendor/knockout-3.2.0.js"}
    %script{src: "/js/vendor/lodash.min.js"}
    %script{src: "/js/messages.js"}
    - unless defined? @page == 'login'
      %script{src: "/js/foundation/foundation.topbar.js"}
      %script{src: "/js/foundation/foundation.tooltip.js"}
      %script{src: "/js/rest_client.js"}
    %script
      $(document).foundation('tooltip', 'reflow');
      $(document).foundation('topbar', 'reflow');
